{% include "user/base_users.html" %}
{% load static %}
{% block head_content %}
<title>Crear Categoria para libros</title>

{% endblock %}
{% block container %}
<br>
<div class = "container">
<form method="POST" action = "/books/book-category">
    {% if creado %}
        <p class="alert alert-success">Categoria agergada</p> 
    {% endif%}
    
    <div class="form-group">
      <label for="book">Libro</label>
      <select class="form-control form-control-lg" name = "book" id="bookid" required>
        <option value="1">Selecciona Libro</option>
        {% for books in books %}
        <option value="{{books.id}}">{{books.titulo}}</option>
        {% endfor %}
    </select>
    </div>
    
    <div class="form-group">
        <label for="category">Categoria</label>
        <select class="form-control form-control-lg" name = "category" id="categoryid" required>
          <option value="1">Selecciona Categoria</option>
          {% for categorias in categorias %}
        <option value="{{categorias.id}}">{{categorias.categoria}}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    {% csrf_token %}
  </form>
</div>
  {% endblock container %}