{% include "user/base_users.html" %}

{% load static %}
{% csrf_token %}
{% block container %}
<br>
<div class="container">
    <div>
        {% for books in books %}
        <div>
            {% if language == 'S' %}
           <h2 >{{books.titulo}}</h2> 
            <p>Genero: {{categorys}} </p>
            <p>Autor: {{books.autor.nombre}}</p>
            {% elif language == 'E' %}
            <h2 >{{books.titulo_ingles}}</h2> 
            <p>Gender: {{categorys}} </p>
            <p>Author: {{books.autor.nombre}}</p>
            {% endif %}     
            
            <div>
                <img src="{{books.portada}}" 
                    width="200"
                    height="220">
            </div>
            <div>
                {% if language == 'S' %}
                <p>Sinopsis: {{books.sinopsis}}</p>
                {% elif language == 'E' %}
                <p>synopsis: {{books.sinopsis_ingles}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock container %}