{% include "user/base_users.html" %}
{% load static %}
{% block head_content %}
<title>Crear Libro</title>

{% endblock %}
{% block container %}
<br>
<div class = "container">
<form method="POST" action = "/books/create">
    
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Titulo español">
    </div>
    <div class="form-group">
      <label for="InputTitle">Titulo ingles</label>
      <input type="text" class="form-control" name="tituloingles" id="tituloingles" aria-describedby="tituloingles" placeholder="Titulo ingles">
    </div>
    <div class="form-group">
        <label for="Inputsinopsis">Sinopsis</label>
        <textarea id="w3review" class="form-control" name="sinopsis" id="sinopsis" aria-describedby="emailHelp" placeholder="Sinopsis español" placeholder="Sinopsis"></textarea>  
    </div>
    <div class="form-group">
        <label for="InputsinopsisIngles">Sinopsis en ingles</label>
        <textarea id="w3review" class="form-control" name = "sinopsisingles" id="sinopsisingles" aria-describedby="emailHelp" placeholder="Sinopsis ingles" placeholder="Sinopsis ingles"></textarea>  
    </div>
    <label for="autor">Autor</label>
    <div class="form-group">
        <select class="form-control form-control-lg" name = "autor" id="autor">
            <option value="0">Selecciona autor</option>
            {% for autores in autores %}
            <option value="{{autores.id}}">{{autores.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="FormControlImage1">Subir portada</label>
        <input type="file" onchange="imageUploaded()" accept=".jpeg, .png, .jpg, .gif" class="form-control-file" name = "FormControlImage1" id="FormControlImage1id">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" class="form-control"  name = "FormControlImage64" id = "FormControlImage64ID">
    {% csrf_token %}
  </form>
</div>
<script>
    let base64String = "";
     
    function imageUploaded() {
        var file = document.querySelector(
            'input[type=file]')['files'][0];
     
        var reader = new FileReader();
        console.log("next");
         
        reader.onload = function () {
            base64String = reader.result.replace("data:", "")
                .replace(/^.+,/, "");
     
            imageBase64Stringsep = base64String;   
            // alert(imageBase64Stringsep);
            //console.log(base64String);
            document.getElementById("FormControlImage64ID").value = imageBase64Stringsep;
        }
        reader.readAsDataURL(file);
    }
     
  </script>
  {% endblock container %}