{% include "user/base_users.html" %}
{% load static %}
{% block head_content %}
<title>Crear Autor</title>

{% endblock %}
{% block container %}
<br>
<div class = "container">
<form method="POST" action = "/books/create-autor">
    
    <div class="form-group">
      <label for="titulo">Nombre</label>
      <input type="text" class="form-control" name="nombreautor" id=" nombreautor" placeholder="Nombre autor">
    </div>
    
    <div class="form-group">
        <select class="form-control form-control-lg" name = "nacionalidad" id="nacionalidadid">
            <option value="O">Selecciona nacionalidad</option>
            <option value="E">Español</option>
            <option value="M">Mexicano</option>
            <option value="O">Otro</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    {% csrf_token %}
  </form>
</div>
  {% endblock container %}