{% include "user/base_users.html" %}

{% load static %}
{% csrf_token %}
{% block container %}
<br>

<div class="container">
    {% if libroCreado %}
        <p class="alert alert-success">Nuevo libro creado</p> 
    {% endif%}
    {% if autorcreado %}
    <p class="alert alert-success">Autor creado</p> 
    {% endif%}
    {% if categoria %}
    <p class="alert alert-success">Categoria creada</p> 
    {% endif%}

    {% if books %}
    {% for books in books %}
     <div>
        <div>
            {% if language == 'S' %}
            <a href="/book-description/{{books.id}}"> <h2 >{{books.titulo}}</h2> 
            {% elif language == 'E' %}
            <a href="/book-description/{{books.id}}"> <h2 >{{books.titulo_ingles}}</h2> 
            {% endif %}
            <div>
                <img src="{{books.portada}}" 
                    width="180"
                    height="180">
            </div>
            </a>
            <div>
                {% if language == 'S' %}
                <p>Autor: {{books.autor.nombre}}</p>
                {% elif language == 'E' %}
                <p>Author: {{books.autor.nombre}}</p>
                {% endif %}
            </div>
        </div>
     </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock container %}