<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <title>Document</title>
</head>
<body> 
    {% block container %}
    <p>Hola<p>
    {{object_list}}
    <ul>
    {% for listbooks in books %}
        <p> {{listbooks.titulo}} </p>
        <img src="http://localhost:8000/{{listbooks.portada}}" width="350"
        height="341">
    {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>