{% include "user/base_users.html" %}

{% load static %}

{% block content %}
<script src="https://www.gstatic.com/firebasejs/9.17.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.17.1/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.17.1/firebase-auth-compat.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
   const firebaseApp = firebase.initializeApp({ 
    apiKey: "AIzaSyCkpggdJ_9g8_ZzWvBnI_Wu-U2oWvgI5_w",
    authDomain: "test-teknei.firebaseapp.com",
    projectId: "test-teknei",
    storageBucket: "test-teknei.appspot.com",
    messagingSenderId: "1020394006699",
    appId: "1:1020394006699:web:1c033b4faa04c98cdf6fee"
    });
   const db = firebaseApp.firestore();
   const auth = firebaseApp.auth();
   let backtoken =""

   function loginGoogle(){
    var provider = new firebase.auth.GoogleAuthProvider();
    firebase.auth()
        .signInWithPopup(provider)
        .then((result) => {
            /** @type {firebase.auth.OAuthCredential} */
            var credential = result.credential;

            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = credential.accessToken.idToken;
            
            // The signed-in user info.
            var user = result.user;
            //recupera en consola el token
            user.getIdToken().then(
                function(idToken){
                    console.log(idToken);
                    var data = {'token_id':idToken}
                    axios.post('/api/google-login', data).then(
                        function(response){
                            backtoken = response;
                            console.log(backtoken);
                            window.location.href = '/home';
                        }
                    )
                }).catch(function(error){
                    console.log(error);
                    var s= document.getElementById("txtmssj");
                    s.value = 'Error Firebase: Intente de nuevo'
                    s.style.display = 'block'
                }
            )
            console.log("*******")
            console.log(backtoken);
            /*var data = {'Token':backtoken}
            axios.post('/books/api/books/list/1', data).then(
                function(response){
                    console.log(response);
                }
            )*/
            //console.log("********");
            //console.log(user);
            //console.log('2**********');
            // ...
        }).catch((error) => {
            // Handle Errors here.
            console.log("****Error*****");
            var errorCode = error.code;
            var errorMessage = error.message;
            console.log(errorMessage);
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            console.log(credential);
            // ...
        });

   }

   axios.defaults.xsrfCookieName = 'csrftoken';
   axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';


</script>
<br>
<div class ="container">
    <h1>Ingrese con su cuenta de google </h1>
    <div>
        <button onclick=loginGoogle() >
            Ingrese con gmail
        </button>
    </div>
    <p id ="txtmssj" class="alert alert-success" hidden></p> 
</div>

{% endblock content %}